/* Estilos gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f0f0f0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  /* Estilos do cabeçalho */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A13854;;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .navegacao {
    display: none;
  }
  
  .Menu {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .capa {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .sair {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
  }
  title {
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
  }

/* Estilos gerais */
.buscarCliente {
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 90px;
}

.buscarCliente label {
  font-weight: bold;
}

.buscarCliente input[type="number"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f0f0f0;
}

a {
  color: #333;
  text-decoration: none;
}

/* Estilos do formulário */
section {
  margin-top: 80px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
}

h1 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="number"],
input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="button"],
input[type="submit"] {
  background-color: #A13854;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  margin-bottom: 1rem;
}

p.Nome,
p.LastName,
p.Email,
p.CPF,
p.Telefone,
p.CEP,
p.Endereço,
p.Bairro,
p.Cidade,
p.numero,
p.UF,
p.Complemento {
  display: flex;
  flex-wrap: wrap;
}

p.Nome input[type="text"],
p.LastName input[type="text"],
p.Email input[type="text"],
p.CPF input[type="text"],
p.Telefone input[type="text"],
p.CEP input[type="text"],
p.Endereço input[type="text"],
p.Bairro input[type="text"],
p.Cidade input[type="text"],
p.numero input[type="text"],
p.UF select,
p.Complemento input[type="text"],
input[type="email"] {
  flex: 1 0 60%;
}