/* Estilos gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f0f0f0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  /* Estilos do cabeçalho */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A13854;;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .navegacao {
    display: none;
  }
  
  .Menu {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .capa {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .sair {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
  }