.navegacao{
    background: #A13854;
    position: absolute;
    width: 1440px;
    height: 65px;
    left: 0px;
    top: 0px;
}
.Menu{
    position: absolute;
    width: 41px;
    height: 41px;
    left: 11px;
    top: 12px;
}
.sair{
    position: absolute;
    width: 58px;
    height: 26px;
    left: 1321px;
    top: -10px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
.capa{
    position: absolute;
    width: 265px;
    height: 65px;
    left: 587px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title{
    position: absolute;
    width: 1370px;
    height: 113px;
    left: 35px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #000000;
}
#ccliente{
    position: absolute;
    width: 428px;
    height: 294px;
    left: 35px;
    top: 233px;
    background: #C76580;
}
.ccliente{
        position: absolute;
        left: 155px;
        top: 85px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        line-height: 52px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
}
.textcliente{
    position: absolute;
    width: 830px;
    height: 113px;
    left: 549px;
    top: 324px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    display: flex;
    align-items: center;

    color: #000000;
}
#ccolaborador{
    position: absolute;
    width: 428px;
    height: 294px;
    left: 35px;
    top: 582px;

    background: #C76580;
}
.ccolaborador{
    position: absolute;
    left: 130px;
    top: 75px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.textcolaborador{
    position: absolute;
    width: 830px;
    height: 113px;
    left: 549px;
    top: 672px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    display: flex;
    align-items: center;

    color: #000000;
}
#projeto{
    position: absolute;
    width: 424px;
    height: 294px;
    left: 39px;
    top: 931px;

    background: #C76580;
}
.projeto{
    position: absolute;
    left: 155px;
    top: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.textprojeto{
    position: absolute;
    width: 830px;
    height: 113px;
    left: 549px;
    top: 1021px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 52px;
    display: flex;
    align-items: center;

    color: #000000;
}
