/* Estilos gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f0f0f0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  /* Estilos do cabeçalho */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A13854;;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .navegacao {
    display: none;
  }
  
  .Menu {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .capa {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .sair {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Estilos do conteúdo principal */
  main {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  section {
    width: calc(33.33% - 1rem);
    background-color: #A13854;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: white;
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 768px) {
    .navegacao {
      display: block;
    }
  
    .capa {
      font-size: 1.5rem;
    }
  
    .cadastro-cliente,
    .cadastro-colaborador,
    .gerenciamento-projetos {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .Menu {
      width: 20px;
      height: 20px;
    }
  
    h2 {
      font-size: 1.2rem;
    }
  
    p {
      font-size: 0.9rem;
      color: black;
    }
  }
  